<script src="~/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
<script type="text/javascript">
    function getCategories() {
        $.ajax({
            url: '/api/Products/GetCategories',
            type: 'GET',
            dataType: 'json',
            beforeSend: appendAuthorization,
            success: displayCategories
        });
    }

    function appendAuthorization(xhr) {
        xhr.setRequestHeader('Authorization', 'Seven11 jacktsai');
    }

    function displayCategories(data) {
        var categories = $('#categories');

        $.each(data, function (key, val) {
            var category = $('<li/>');
            category.text(val.Name);
            category.appendTo(categories);

            category = $('<ul id="category' + val.Id + '"/>');
            category.appendTo(categories);

            $.ajax({
                url: '/api/Products/GetProducts?pass=true&categoryId=' + val.Id,
                type: 'GET',
                dataType: 'json',
                beforeSend: appendAuthorization,
                success: displayProducts
            });
        })
    }

    function displayProducts(data) {
        $.each(data, function (key, val) {
            var product = $('<li id="product' + val.Id + '"/>');
            product.text(val.Name);
            product.appendTo('#category' + val.Category.Id);
        });
    }
</script>
<div>
    <input type="button" value='Get Categories' onclick="getCategories();" />
    <ul id="categories">
    </ul>
</div>
